{% include "dellemc/os10/system.j2" %}

{% include "dellemc/os10/vlan.j2" %}

{% include "dellemc/os10/interface.j2" %}

{% include "dellemc/os10/port_channel.j2" %}

{% include "dellemc/os10/mlag.j2" %}

{% include "dellemc/os10/prefix_list.j2" %}

{% include "dellemc/os10/bgp.j2" %}
